# Gemini API config
GEMINI_API_KEY=your_gemini_api_key_here

# Nvidia API config
NVIDIA_API_KEY=your_nvidia_api_key_here

# MongoDB config
MONGODB_URI=mongodb://localhost:27017/medguide

# Security configuration (Do not expose in production)
# Generate a key using: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
ENCRYPTION_KEY=-P0I4vyC-4mJ8w11SPcCcz0tIlFBP28rAHJZbW-0WPU=
JWT_SECRET=secrettoken123

# Google OAuth config (Optional)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
